html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#content .maps{
  padding: 20px;
  text-align: center;
}
#map {
    float:left;
    margin: 10px;       
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}