
td{
  color:#ffffff;
  border:1px solid white;
  text-align:center !important;
}

thead th:hover{
  cursor:pointer;

}

.string{
  background:#005799;
}

.one{
  background:#ff3333;
}
.two{
  background:#ff471a;
}
.three{
  background:#ff5c33;
}
.four{
  background:#b3b300;
}
.five{
  background:#6ed26f;
}
.six{
  background:#2a9530;
}